.bg {
  &::after {
    content: "";
    position: absolute;
    right: 35px;
    bottom: 0;
    width: calc(370px - 35px - 35px);
    height: calc(370px - 35px - 35px);
    border-radius: 100%;
    background-color: rgba(234, 234, 250, 0.8);
    z-index: 20;
    @media (max-width: 768px) {
      width: calc(300px - 35px - 35px);
      height: calc(300px - 35px - 35px);
    }
  }
}

.gradient {
  background: url("./images/3d-gradient.svg") no-repeat top left / 100% 300px;
}

.shadow {
  position: absolute;
  bottom: 5px;
  // 64px
  left: 11px;
  width: 42px;
  height: 5px;
  border-radius: 100%;
  box-shadow: 0 15px 3px #03052029;
}
